/* Sidebar Styles - Optimized */
.div {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 0px;
  background-color: var(--basedark-bg-2);
  border-radius: 16px;
  position: relative;
  flex: 0 0 auto;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  margin: 12px auto;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: var(--basedark-bg-2);
  outline: none;
}
  
.nav-item:focus, .nav-item:active {
  outline: none;
  box-shadow: none;
  border: none;
}

.pattern {
  display: none !important;
  position: fixed;
  height: 104px;
}

.nav_menu-active .nav-item {
  background-color: var(--primary-color);
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
}

.nav_menu-active .pattern {
  display: block !important;
}

.nav_menu-active .nav-icon {
  filter: brightness(0) invert(1);
}

.nav-icon {
  width: 24px;
  height: 24px;
  filter: invert(36%) sepia(62%) saturate(1074%) hue-rotate(334deg) brightness(96%) contrast(92%);
}

.sidebar {
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-self: stretch;
  background-color: var(--basedark-bg-2);
  position: relative;
  gap: 10px;
  flex: 0 0 auto;
  border-radius: 10px;
  width: 92px;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  border-radius: 10px;
  position: relative;
  flex: 0 0 auto;
}

.logo {
  position: relative;
  width: 56px;
  height: 56px;
  margin-bottom: 16px;
}

.overlap-group {
  position: relative;
  height: 56px;
  border-radius: 12px;
}

.rectangle {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 0;
  left: 0;
  background-color: #eb966a;
  border-radius: 12px;
  opacity: 0.26;
}
